
.flex
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	&>*
	{
		flex-grow: 1;
		flex-basis: 0;
		margin: 0 (@trailing-margin * 2) @trailing-margin 0;
		white-space: nowrap;
	}
}

// Responsiveness
@media only screen and (max-width : 480px)
{
	.flex
	{
		flex-direction: column;
		&>*
		{
			flex-grow: 1;
			flex-basis: 0;
			margin: 0 0 @trailing-margin 0;
			white-space: nowrap;
		}
	}
}
